@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata');
:root{
    overflow-x: hidden;
}
.home{
    display:flexbox;
    inset: 0;
    color:whitesmoke;
    
    top:0;
    background-color: aqua;
    overflow: hidden;
    width: clamp(94.5vw,100vw, 100vw );
}

@keyframes appear{
    0%{
        transform: scale(1);
        opacity: 0;        
    }
    80%{
        transform: scale(1.3);
        opacity: 0.4;
        height: auto;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes upAndDown{
    0%{
        transform:translate(0,0) ;
        opacity: 1;
    }
    50%{
        transform:translate(0,60px);
        opacity: 1;

    }
    100%{
        transform:translate(0,0);
        opacity: 1;
    }
}
@keyframes subline{
    0%{
        opacity: 0;

    }
    50%{
        opacity: 0;
        transform: scale(0.0001)  translate(400vmax,0);
    }
    51%{
        opacity: 1;
        transform: scaleX(0.2) scaleY(0.7)  translate(400vmax,0);
    }
    72%{
        opacity: 1;
        transform: scaleX(0.8) scaleY(0.7) translate(120vw,0) ;

    }
    85%{
        opacity: 1;
        transform: scaleX(0.6) scaleY(0.7) translate(-250px,0);

    }
    100%{
        opacity: 1;
        transform: scale(0.7)  translate(0px,0);
    }
}
.base{
    display: flex;
    flex-direction: column;
background-color: var(--primary) ;
height: 100vh;
inset:0;

top:0;
justify-content: center;
align-items: center;
}
.home .name{
    width: 100vw;
    overflow-y: hidden;
    font-size: clamp(5vw, 7vmin, 13vw);
    animation-delay: 2s;
    font-weight: 500;

    animation: appear 3s alternate;

    }
.home .boxSetas{ 
    height: 90px;
    margin-top: 100px;
}
.home .setas{
    opacity: 0;
    animation: upAndDown 0.7s infinite;
    animation-delay: 7s;
}
.subline{
    transform: scale(0.7) ;
    font-size:  clamp(6vw, 8vmin, 5vw);
    animation: subline 5s;
    margin-top: clamp(-5vw, -7vmin, -6vw);
}

.Parallax{
    transform-style: preserve-3d;

    perspective: 300px;

}

.paralla_item{
    position: relative;
    transform-style: preserve-3d;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 7vmin;
    color: white;
    

}
.paral{
    display: flex;
    inset:0;
    justify-content: center;
    align-items: center;
}
.first{
    position: absolute;
    transform: translateZ(-200px) scale(3);
}
 
.second{
    position: absolute;
    transform: translateZ(0px);


}
.third{
    position: absolute;
    transform: translateZ(100px);
}

#one > .first{
    background-color: tomato;
}