.box-project{
    margin-top: 10px;
    background-color: var(--theme);
}
.grid-projects{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.box-project{
    margin: 19px;
}
.projects .title-project{
    color:var(--primary);
    font-size: 2.5rem;
    font-weight: 700;

}
.project{
    margin:5px;
    border-radius: 100%;
    border-color: var(--secundary);
    border-width: 5px;
    border-style:dotted;
    flex:1;
    display: flex;
    height: 40vh;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    filter: brightness(99%);
    transition:filter 1000ms ease;
}
.project:hover{
    filter: brightness(110%);
}

.project .title{
    font-size: xx-large;
    font-weight: 500;
    color: #FFFFFF;
    transition: 500ms ease;
}
.project:hover .title{
    font-size:2.5rem;
    font-weight: 500;
    color: #FFFFFF;
    text-shadow: 4px 3px 0px #7A7A7A;
}
@media screen and (max-width:1200px){
.grid-projects{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width:900px){
.grid-projects{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:600px){
.grid-projects{
        grid-template-columns: repeat(1,1fr);
    }
}