.box-repo{
    display:flex;
    flex-direction: column;
    color:var(--primary);
    font-weight: bold;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 20px;
    margin: 5px;

}
.box-repo:hover{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */

}
.box-repo .path{
    color: var(--primary);
    font-weight: 400;
    font-size: 2.5vmin;
    text-align: justify;
    align-self: flex-start;
}

.box-repo .name{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 3.5vmin;
    text-align: justify;
    color:var(--primary);
    text-decoration: none;
}
.box-repo .name .icon{
    min-width: 4vmin;
    width: 4vmin;
    margin-right: 1rem;
    color: var(--primary);
}
.box-repo .name:hover{
    font-size: 4vmin;
}
.box-repo .desc{
    font-size: 4vmin;
    color: #7c7c7c;
    font-weight: 400;
    text-align: justify;
    text-decoration-line: none;
}
.box-repo .time{
    display: flex;
    align-self: stretch;
    color: #7c7c7c;
    font-weight: 400;
    justify-content: space-between;
}
.box-repo .created_at{
    flex:1;
    font-size: 4vmin;
    text-decoration-line: none;
}
.box-repo .updated_at{
    flex:1;
    font-size: 4vmin;
    text-decoration-line: none;
}
.box-repo .fork{
    flex:1;
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 4vmin;
    text-align: justify;
    align-self: flex-end;
    text-decoration-line: none;
}
.box-repo .fork-box{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 2vmin;
    text-align: justify;
    align-self: flex-end;
    text-decoration-line: none;
}
.box-repo .fork-subbox{
    display: flex;
    width: 100%;
    font-size: 3vmin;
    text-align: justify;
    align-self: flex-end;
    text-decoration-line: none;
}
.box-repo .ball{
    height: 10px;
    width: 10px;
    margin:4px;
    align-self: center;
    border-radius: 5px;
    background-color: white;
}
.box-repo .homepage{
    font-size: small;
    text-decoration: none;
    color: #003cff;
}
@media screen and (min-width: 500px)   {
    .box-repo .name .icon{
        min-width: 2.5vmin;
        width: 2.5vmin;
        margin-right: 1rem;
        color: var(--primary);
    }
    .box-repo .path{
        font-size: 1.5vmin;
    }
    
    .box-repo .name{
        font-size: 2.5vmin;
    }
    .box-repo .name:hover{
        font-size: 3vmin;
    }
    .box-repo .desc{
        flex: 1;
        font-size: 2vmin;
    }
    .box-repo .created_at{
        font-size: 1.5vmin;
    }
    .box-repo .updated_at{
        font-size: 1.5vmin;
    }
    .box-repo .fork{
        font-size: 2vmin;
    }
    .box-repo .fork-subbox{
        font-size: 2vmin;
    }
  
  }