.box-repo{
    display:flex;
    flex-direction: column;
    color: black;
    font-weight: bold;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    width: 90%;
    height: 80%;
    padding: 20px;
    margin: 5px;
    align-self: center;
    align-items: flex-start;
    justify-content: flex-start;
}
.box-repo:hover{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */

}
.box-repo .path{
    color: #353535;
    font-weight: 400;
    font-size: 0vmin;
    text-align: justify;
    align-self: flex-start;
}

.box-repo a{
    font-size: 5vmin;
    text-align: justify;
    text-decoration-line: none;
}
.box-repo a:hover{
    font-size: 6vmin;
    color: blue;
}
.box-repo .desc{
    font-size: 4vmin;
    color: #7c7c7c;
    flex:1;
    font-weight: 400;
    text-align: justify;
    text-decoration-line: none;
}
.box-repo .time{
    display: flex;
    align-self: stretch;
    color: #7c7c7c;
    font-weight: 400;
    justify-content: space-between;
}
.box-repo .created_at{
    flex:1;
    font-size: 4vmin;
    text-decoration-line: none;
}
.box-repo .updated_at{
    flex:1;
    font-size: 4vmin;
    text-decoration-line: none;
}
.box-repo .fork{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 4vmin;
    text-align: justify;
    align-self: flex-end;
    text-decoration-line: none;
}
.box-repo .fork-box{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 2vmin;
    text-align: justify;
    align-self: flex-end;
    text-decoration-line: none;
}
.box-repo .fork-subbox{
    display: flex;
    width: 100%;
    font-size: 2vmin;
    text-align: justify;
    align-self: flex-end;
    text-decoration-line: none;
}
.box-repo .ball{
    height: 10px;
    width: 10px;
    margin:4px;
    align-self: center;
    border-radius: 5px;
    background-color: #f1f1f1;
}

@media screen and (min-width: 500px)   {
    .box-repo .path{
        font-size: 1.5vmin;
    }
    
    .box-repo a{
        font-size: 2.5vmin;
    }
    .box-repo a:hover{
        font-size: 3vmin;
    }
    .box-repo .desc{
        font-size: 2vmin;
    }
    .box-repo .created_at{
        font-size: 1.5vmin;
    }
    .box-repo .updated_at{
        font-size: 1.5vmin;
    }
    .box-repo .fork{
        font-size: 2vmin;
    }
    
  
  }