.box-container{
display:flex;
background-color: white;
color: #444;
flex-direction: column;
}
.box-container h1{
  font-size: xxx-large;

}
.skills-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.skills{
  margin: 10px;
}
.skills h3{
  font-size: x-large;
}
.sub-skills{
  
  display: grid;
  grid-template-columns: repeat(3,1fr);

}
.skill{
  display:flex;
  color: black;
  font-weight: bold;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;

}
.skill:hover{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
  box-shadow: #888 4px 2px 4px;
}
.skill h6{
  flex:1;
  font-size: large;

}
.box-percent{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.box-percent h4{
  margin: 5px;

}
.circle{
  height: 8vh;
}



@media screen and (max-width: 1200px)   {
  .skills-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .sub-skills{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (max-width: 900px)   {
  .skills-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .sub-skills{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}
@media screen and (max-width: 700px)   {
  .skills-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .sub-skills{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}
@media screen and (max-width: 400px)   {
  .skills-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  .sub-skills{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}

