
:root{
  --theme:#111;
  --primary:#fff

}
:root::-webkit-scrollbar{
  width:0.75vmin;
}
:root::-webkit-scrollbar-track{
  background-color: black;
}
:root::-webkit-scrollbar-thumb{
  background-color: #ff80b2;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color:#f1f1f1;
  color:white
}

.body {
  flex:1;
  min-height: 110vh;
  height: max-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  color:white
}

.App-header {
  position: relative;
  flex:1;
  display:flex;
  height: 100vh;
  justify-content: center;
}

.App-background{
  background-image: url("./assets/background.jpg");
  filter: blur(3px);
  -webkit-filter: blur(3px);
  flex:1;
  background-position: center;
  background-size: cover;
}
.box{
  display:flex;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 0px;
  width: 80%;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.box-info{
  display: flex;
  flex:1;
  flex-direction: row;
  justify-content: space-around;
}

.box-img{
  display: flex;
  height: 15vmax;
  width: 15vmax;
  align-items: center;
  justify-content: center;
  animation: App-logo-down  2s linear;
  
}
.App-logo {
  position: relative;
  height: 100%;
  width: 100%;
  box-shadow: black 2px 2px 5px;
  border-radius: 100%;
}



.App-header .box-info div div:nth-child(1){
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color:#ff80b2; 
  border-radius: 100%;
  opacity: 0;
  animation: App-logo-up infinite 4s  linear; 
}
.App-header .box-info div div:nth-child(2){
  position: absolute;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color:#ff99c1; 
  border-radius: 100%;
  animation: App-logo-up infinite 4s 2s linear;  
}
.App-header .box-info div:hover div:nth-child(1){
  transform: scale(1.2);
}
.App-header .box-info div:hover div:nth-child(2){
  transform: scale(1.2);
}
.App-header .box-info div:hover .App-logo {
  box-shadow: black 2px 2px 15px;
  border-radius: 100%;
  transform: scale(1.2);
  animation:  App-logo-scaleIn normal 0.4s linear;
}
.bio{
  align-self: center;
  justify-content: center;
  flex:1;
  font-size: 1.8vmax;
  text-align: justify;
  animation: App-text-up 2s  linear;

  
}
.icon{
height: 4vmax;
width: 4vmax;
color: #f1f1f1;
}
.box-icon{
  position: absolute;
  display: flex;
  flex-direction: column;
  top:10px;
  right:10px;
  width: max-content;
  animation: App-icons-right 3s  linear;

}
.App-footer{
  color:black;
}




@media screen and (max-width: 800px) and (min-height: 400px) {
  .box{
    flex-direction: column;
    width: 50%;
  }
  .icon{
    height: 5vmax;
    width: 5vmax;
  }
  .App-body{
    flex-direction: column;
  }
  .body-box{
    flex-direction: column;
  }
  .box-icon{
    flex-direction: column;
    top:10px;
    right:10px;
  }
  .icon{
    color: #f1f1f1;
  }
}

@keyframes App-logo-down {
  0% {
    opacity: 0;
      transform: translate(0%,-100%);
  }
  88% {
    transform: translate(0%,0%);
  }
  90%{
    transform: translate(0%,5%);
  }
  92%{
    transform: scale(1.2);
    transform: translate(1%,0%);
  }
  95%{
        transform: translate(-1%,0%);
  }
  97%{
    transform: translate(0%,0%);

  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes App-text-up {
  0% {
    opacity: 0;
      transform: translate(0%,10%);}
  97%{
    transform: translate(0%,0%);

  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App-icons-right {
  0%{
    opacity: 0;
  }
  50% {
    opacity: 0;
      transform: translate(100%,0%);
  }
  88% {
    transform: translate(0%,0%);
  }
  90%{
    transform: translate(0%,1%);
  }
  92%{
    transform: scale(1.2);
    transform: translate(1%,0%);
  }
  95%{
        transform: translate(-1%,0%);
  }
  97%{
    transform: translate(0%,0%);

  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes App-logo-up {
  0% {
    height: 15vmax;
    width: 15vmax;
    opacity: 0;
  }
  20%{
    opacity: 0.687;
  }
  100% {
    height: 22vmax;
    width: 22vmax;  
    opacity: 0;

  }

}

.App-body{
  position: relative;
  display: flex;
  flex-direction: column;
  flex:1;
  }
.body-box{
  display:flex;
  flex:1;
  padding-top: 1vmax;
  background: #ffffff

}


.App-data{
  display:flex;
  margin: 4vmin;
  border: #ddd;
  shape-outside: margin-box;
  border-width: 1px;
  border-style: solid;
  align-items: center;
  justify-content: center;
  background:  #ff9ec5;
  box-shadow: #ddd 1.5vmin 1.5vmin 0px;
  padding: 5vmin;
  padding-top: 3vmin;
  padding-bottom: 3vmin;
  border-radius: 10vmax;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  flex: 1;
  flex-direction: column;
  color: #f1f1f1;
}
.App-data p{
    flex:1;
    text-align: justify;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-style: italic;
}
.App-data ul{
  list-style: none;
}
.App-data ul li{
  list-style: none;
  margin-top: 10px;
}

.repos{
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 650px)   {


  .repos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
  }
}
@media screen and (min-width: 900px)   {
  .box{
    height: 70%;
  }
  .repos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
  }
}
@media screen and (max-width: 600px) {
  .body{
    margin-bottom: 5rem;
  }
  .box{
    flex-direction: column;
    width: 70%;
  }
  .icon{
    height: 5vmax;
    width: 5vmax;
  }
  .box-icon{
    flex-direction: column;
    top:10px;
    border-radius: 10px;
    right:10px;
    background-color: #ff80b2;
  }
  .bio{
    font-size: 2.5vmax;
  }
  .App-body{
    flex-direction: column;
  }
  .body-box{
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {


}
















/* nav bar */

.App .navBar{
  z-index: 10;
  position: fixed;
  transition:width 1000ms ease;
  background-color: var(--theme);
  color:var(--primary)
  
  }
  .App .navBar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  
  }
  .App .navBar-item{
    width: 100%;
    display: flex;
    text-decoration: none;
    height: 5rem;
    align-items: center;
    justify-content: baseline;
  }
  .App .navBar-item:hover{
    background-color: #ff9ec5;
    cursor: pointer;
  }
  .App .navBar-item .icon{
    width: 1.5rem;
    margin:0 1.5rem;
    color: #ffcce0;  
    filter: opacity(0.7) grayscale(0%);
    transition:filter 1000ms ease;
    
  }
  .App .navBar-item:hover .icon{
    cursor: pointer;
    filter: opacity(1) grayscale(100%);
  }

  .nav-link{
    display:none;
    margin-left: 1rem;
  }
  @media screen and (min-width: 600px)   {
    .body{
      margin-left: 4rem;
    } 
    .navBar{
      height: 100vh;
      width: 4rem;
    }

    .App .navBar:hover .nav-link{
      display: block;
      }
    .App .navBar:hover{
      width:12rem;
      padding-right: 1rem;
      }

    .navBar-item:last-child{
      margin-top: auto;
    }
    .navBar-item:first-child{
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 600px) {
    .navBar{
      bottom: 0;
      padding: 0;
      width: 100vw;
      height: 4rem;
  
    }
    .navBar .navBar-nav{
      flex-direction: row;
    }
    .navBar .navBar-item{
      display:flex;
      align-items: center;
      justify-items: center;
    }
    .navBar .navBar-item .icon{
      width: 5vw;
    }

  }  