name: Publish site
permissions:
  contents: read
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git --version
          git config user.name "${{github.actor}}"
          git config user.email "emanuelcascone@gmail.com"
          git remote set-url origin https://${{secrets.GH_TOKEN}}@github.com/${{github.repository}}.git

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "22"

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9

      - name: Install dependencies
        run: pnpm install

      - name: Deploy to GitHub Pages
        run: pnpm run deploy-gh
